body {
  background-color: hwb(212 84% 6%);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10px;
  width: 100%;
  max-height: fit-content;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
  font-size: 15px;
  text-align: center;
  font-family: Outfit;
}
.qr-component {
  background-color: white;
  border-radius: 16px;
  max-width: 300px;
  padding: 16px;
  margin-top: auto;
  box-shadow: 5px 5px 20px 3px hsla(213, 12%, 67%, 0.384);
}
.qr-image {
  border-radius: 16px;
  width: 100%;
}
.qr-component-bottom-text {
  padding: 5px 18px;
}
.qr-component h1 {
  font-size: 1.4rem;
  color: hsl(218, 44%, 22%);
}
.qr-component p {
  color: hsl(220, 15%, 55%);
}
.qr-component a {
  color: hsl(228, 45%, 44%);
}
footer {
margin-top: auto;
}